<!-- needfix : Rajout navbar -->
<section id="body">
  <i class="material-icons back-arrow" [routerLink]="['../homepage']">
    double_arrow
  </i>

  <section class="profil-container">
    <app-profil-section></app-profil-section>
  </section>

  <section id="right">
    <div class="type-section" (click)="test()">
      <ul id="type-container">
        <li (click)="switchTopic('video')" class="topic" [ngClass]="selectedTopic === 'video' ? 'isSelected' : ''">
          Videos
        </li>
        <li (click)="switchTopic('playlist')" class="topic"
          [ngClass]="selectedTopic === 'playlist' ? 'isSelected' : ''">
          Playlist
        </li>
        <li (click)="switchTopic('description')" class="topic"
          [ngClass]="selectedTopic === 'description' ? 'isSelected' : ''">
          Description
        </li>
        <li (click)="switchTopic('crew')" class="topic" [ngClass]="selectedTopic === 'crew' ? 'isSelected' : ''">
          Crew
        </li>
      </ul>
    </div>

    <div class="right-bottom">

      <div [ngSwitch]="selectedTopic">
        <app-video-section *ngSwitchCase="'video'"></app-video-section>
        <app-playlist-section class="margin-top" *ngSwitchCase="'playlist'"></app-playlist-section>
        <app-description-section class="margin-top" *ngSwitchCase="'description'"></app-description-section>
        <div id="error-info" class="margin-top" *ngSwitchDefault> <p>Ce message signifie que quelque chose n'a pas fonctionné correctement.
          Veuillez recharger la page. Si le problème persiste, veuillez contacter le support </p> </div>
      </div>
    </div>
  </section>
</section>