#body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(25, 25, 25);
}

.profil-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    background-color: tomato;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
}

.profil-container img{
    margin-bottom: 5vh;
}

.profil-container .profil-info-container{
    width: 200px;
}

/* needfix: taille variable en fonction de la photo */

.profil-container .profil-info-container h2 {
    font-size: 1.5em;
    letter-spacing: 0.2em;
}


.profil-container h2 span {
    font-size: 0.7em;
}

#right{
  width: 60vw;
  height: 100vh;
  position: relative;
  left: 40vw;
  overflow: auto;
}

.type-section{
    width: 100%;
    height: 10vh;
    position: sticky;
    top:0;
    z-index: 10;
}

#type-container{
    background-color: #171717;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#type-container li{
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
}

#type-container li:hover{
    background-color: rgb(27, 27, 27);
}

.topic.isSelected{
    border-bottom: red solid 1px;
}

.video-container{
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
}
.video-test{
  width: 19vw;
  height: 15vh;
  background-color: #fff;
  margin-bottom: 2vh;
}

#filter-container{
  width: 100%;
  height: 7vh;
  background-color: rgb(29, 29, 29);
}
