<!-- needfix : Rajout navbar -->
<section id="body">
    <i class="material-icons comeback-arrow" [routerLink]="['../homepage']">
        double_arrow
        </i>

    <div class="profil-container">
    </div>

    <section id="right">
        <div class="type-section">
            <ul id="type-container">
                <li> Videos </li>
                <li> Playlist </li>
                <li> Description </li>
                <li> Crew </li>
            </ul>
        </div>

        
    </section>
</section>