<section id="notif-body">
  <div id="agree">
    <input type="checkbox" name="agree" id="agree" />
    <label for="agree">
      Recevoir des notifications du site sur votre ordinateur (extension
      nécessaire)
    </label>
  </div>

  <div id="like">
    <input type="checkbox" name="like" id="like" />
    <label for="like">
      Recevoir une notification lorsqu'une personne aime une de vos vidéos
    </label>
  </div>

  <div id="comment">
    <input type="checkbox" name="comment" id="comment" />
    <label for="comment">
      Recevoir une notifications lorsqu'une pesonne commente une de vos vidéos
    </label>
  </div>

  <p> Enregistrer les modifications </p>
  <p> Annuler les modifications </p>
</section>
