<section id="nav-body">
<!--   <img
    src="https://fontmeme.com/permalink/200304/d63203eed2ab0cb62441861258578d73.png"
    alt="netflix-font"
    border="0"
  /> -->
  <h1> SkateWatch </h1>
  <ul>
    <li (click)="openSidebar()" *ngIf="!connectedStatus()">Connexion</li>
    <li *ngIf='connectedStatus()' [routerLink]="['../user']">Profil</li>
    <li>Mes abonnements</li>
    <li>Poster</li>
    <li><input type="text" id="nav-searchbar" placeholder="Rechercher"></li>
    <li *ngIf="connectedStatus()"> <i class="material-icons">
      person
      </i></li>

      <!-- needfix: png person + arrow -->
  </ul>
</section>
