#nav-body{
  background-color: rgb(29, 29, 29);
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.8s;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  color: white;
}

h1{
  margin-left: 2vw;
  cursor: pointer;
}

ul{
  height:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  font-family: 'Spartan', sans-serif;
}

ul li{
  cursor: pointer;
  transition: 0.8s;
  height: 100%;
  margin-right: 3vw;
  display: flex;
  align-items: center;
}

ul li:hover{
  text-shadow: 0px 0px 10px white;
}

#nav-searchbar{
  background-color: rgba(59, 59, 59, 0.479);
  border: rgb(29, 29, 29) 1px solid;
  padding: 3px;
  border-radius: 5px;
  padding-left: 10px;
  color: white;
}
