 img{
    margin-bottom: 5vh;
    border-radius: 50%;
}

 .profil-info-container{
    width: 200px;
}

/* needfix: taille variable en fonction de la photo */

 .profil-info-container h2 {
    font-size: 1.5em;
    letter-spacing: 0.2em;
}


 h2 span {
    font-size: 0.7em;
}