 img{
    margin-bottom: 5vh;
    border-radius: 50%;
}

 .profil-info-container{
    width: 200px;
    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.profil-info-container div, h2{
  width: 100%;
}

/* needfix: taille variable en fonction de la photo */

 .profil-info-container h2 {
    font-size: 1.5em;
    letter-spacing: 0.2em;
}


 h2 span {
    font-size: 0.7em;
}

button{
  width: 50%;

}
