<!-- <i class="material-icons back-arrow" [routerLink]="['../homepage']">
  double_arrow
</i> -->

<img
  src="{{currentUser.profilPicture}}"
  width="200"
/>
<div class="profil-info-container">
  <div class="profil-fullname">
    <h2>{{currentUser.firstname}}</h2>
    <h2>{{currentUser.surname}}</h2>
    <h3 *ngIf="currentUser.nickname.length > 0">{{currentUser.nickname}}</h3>
  </div>
  <h2> {{currentUser.age}} <span> ans</span></h2>
  <div class="user-nationality"> {{currentUser.nationality}}</div>
  <div class="user-description">
    {{currentUser.bio}}
  </div>
</div>
