#settings-body{
  height: 100vh;
  background-color: red;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

#list-container{
  background-color: black ;
  color: white;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}

ul li {
padding: 4vh 0;
cursor: pointer;
width: 13vw;
height: 100%;
padding-left: 2vw;
}

.isSelected, ul li .isSelected:hover{
  background-color: rgba(97, 97, 97, 0.794);
}
ul li:hover{
  background-color: rgba(44, 44, 44, 0.568);
}

#section-container{
  overflow: hidden;
  height: 93vh;
  width: 85vw;
  background-color: yellow;
  margin-top: 7vh;
}
