<app-navbar></app-navbar>

<section id="settings-body">
  <div id="list-container">
    <ul>
      <li
        (click)="changeClicked('compte')"
        [ngClass]="isSelected === 'compte' ? 'isSelected' : ''"
      >
        Compte
      </li>
      <li
        (click)="changeClicked('notif')"
        [ngClass]="isSelected === 'notif' ? 'isSelected' : ''"
      >
        Notifications
      </li>
      <li
        (click)="changeClicked('app-con')"
        [ngClass]="isSelected === 'app-con' ? 'isSelected' : ''"
      >
        Appareils connectés
      </li>
      <li
        (click)="changeClicked('delete-acc')"
        [ngClass]="isSelected === 'delete-acc' ? 'isSelected' : ''"
      >
        Supprimer le compte
      </li>
    </ul>
  </div>

  <section [ngSwitch]="isSelected" id="section-container">

    <app-my-profil *ngSwitchCase="'myprofil'"></app-my-profil>
    <app-app-connected *ngSwitchCase="'appcon'"></app-app-connected>
    <app-delete-account *ngSwitchCase="'deleteacc'"></app-delete-account>
    <app-notifications *ngSwitchCase="'notif'"></app-notifications>

  </section>
</section>
