<div
  #filter_container
  id="filter-container"
  [ngClass]="changeFilterContainerHeight ? 'changed' : ''"
>
  <p>Ajouter un filtre</p>
</div>

<div
  #video_container
  id="video-container"
  [ngClass]="changeFilterContainerHeight ? 'changed' : ''"
>
  <div *ngIf="videoList.length > 0"id="promo-video-container">
    <article >
     <video id="promo-video" autoplay="true">
        <source src="http://localhost:3000/uploads/id6_milton-martinezs-demolicion-part.mp4">
      </video>
    </article>
    <div id="promo-video-infos">

    </div>
  </div>
  <div id="video-list-container">
  <video class="video-test" *ngFor="let video of videoList" width='200' controls>
    <source src="http://localhost:3000/{{video.link}}">
  </video>
</div>
</div>
