<div
  #filter_container
  id="filter-container"
  [ngClass]="changeFilterContainerHeight ? 'changed' : ''"
>
  <p>Ajouter un filtre</p>
</div>

<div
  #video_container
  id="video-container"
  [ngClass]="changeFilterContainerHeight ? 'changed' : ''"
>
  <div id="promo-video-container">
    <article id="promo-video">
<!--       <video width="300" controls>
        <source src="http://localhost:3000/{{topVideo.link}}">
      </video> -->
    </article>
    <div id="promo-video-infos">

    </div>
  </div>
  <div id="video-list-container">
  <video class="video-test" *ngFor="let video of videoList" width='200' controls>
    <source src="http://localhost:3000/{{video.link}}">
  </video>
</div>
</div>
