<section id='admin-body'>
  <header> <h2>SkateWatch <span> admin </span></h2> </header>

 <app-admin-sidebar></app-admin-sidebar>

  <div class="content">
    <h3> Last <span class="selected-cate" (click)="openCategoriesList()">{{selectedCategories}}</span> created </h3>

    <div id="categorie-list">
      <ul>
        <li *ngFor="let cate of categories" (click)="transmission(cate)"> {{cate}}</li>
      </ul>
    </div>

    <ul>
      <li *ngFor="let user of users"> {{user.id}} / {{user.surname}} / {{user.firstname}} / {{user.country}}
      </li>
    </ul>

  </div>

</section>
