#admin-body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  overflow: hidden;
}

header{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 6vh;
}

span{
  font-size: 0.5em;
  color: rgb(99, 197, 197);
}

.content{
  height: 70vh;
}

h3{
  text-align: center;
  font-size: 3vh;
  margin-bottom: 2vh;
}

ul{
  height: 100%;
  overflow: auto;
}

li{
  margin-bottom: 2vh;
}

.selected-cate{
  color: inherit;
  font-size: inherit;
  transition: 0.8s ease-in-out;
  padding: 3px;
}

.selected-cate:hover{
  background-color: grey;
  border-radius: 10px;
  cursor: pointer;
}

#categorie-list{
  padding: 5px 2px;
  border: black 1px solid ;
  display: inline-block;
  position: fixed;
  left: 45vw;
}

#categorie-list ul li{
  cursor: pointer;
}