#admin-body{
  width: 100vw;
  height: 100vh;
}

header{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 6vh;
}

span{
  font-size: 0.5em;
  color: rgb(99, 197, 197);
}
