#logs-body{
    width: 30vw;
    height: 100vh;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.container{
    width: 80%;
    padding: 5% 0;
}

.form-container{
    display: none;
}

.form-container.isOpen{
    display: inherit;
}

