#delete-body{
  height: 93vh;
  background-image: url(../../../../assets/data/img/skate_wp_2.jpg);
  background-size: cover;
  background-position: center;
}

#container{
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.733);
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vh;
  display: flex;
  flex-flow: row wrap;
}

div{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 30vh;
  text-align: center;

}

button{
  width: 17vw;
  height: 40px;
  cursor: pointer;
  background-color: rgb(39, 39, 39);
  color: white;
  border: solid 1px white;
  border-radius: 10px;
}


.disabled{
  cursor: not-allowed;
  background-color: rgb(39, 39, 39, 0.3);
}

.red{
  background-color: rgb(63, 8, 8);
}
