<section id="delete-body">
  <div id="container">
  <div>
    <p>
      Si vous choissisez de désactiver votre compte, il sera encore possible de
      le réactiver en vous connectant normalement sur le site. Le compte sera
      fermé après une durée de 270 jours après sa désactivation. Vous ne
      recevrez plus de notifications mails durant cette période.
    </p>
    <button>Désactiver le compte</button>
  </div>

  <div>
    <p>La suppression du compte est définitive. Il ne sera plus possible de
    récuperer le compte même auprès d'un administrateur après sa suppression.
    Vous pouvez désactiver le compte comme indiqué ci-dessus. Êtes-vous sur de
    vouloir supprimer le compte ? </p>
    <button> Supprimer le compte </button>
  </div>
</div>
</section>
