#body{
height: 100vh;
width: 100vw;
background-color: red;
}

app-navbar{
  z-index: 10;
}

#video{
  width:100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.e{
  z-index: 1000;
}

iframe{
  width:130%;
  height: 130%;
}
