<section id="inscription-form-body">
    <form [formGroup]="inscriptionForm">
        <h2> Inscription </h2>
        <label> Prénom et Nom </label>

        <div id="name-inscription-container">
            <input class="text-input" type="text" id="firstname-inscription" name="firstname-inscription"
                placeholder="Ninja" formControlName="firstname">
            <input class="text-input" type="text" id="surname-inscription" name="surname-inscription"
                placeholder="Youston" formControlName="surname">
        </div>

        <label> Email </label>
        <input class="text-input" type="email" id="email-inscription" name="email-inscription"
            placeholder="NineClub@example.com" formControlName="email">

        <label> Mot de passe </label>
        <input class="text-input" type="password" id="inscription-password" name="inscription-password"
            placeholder="password" formControlName="password">

        <div class="conditions-container">
            <input type="checkbox" id="cgu-checkbox" name="cgu-checkbox" formControlName="CGU">
            <label for="cgu-checkbox" class="conditions" id="cgu-checkbox-label"> J'accepte les CGU </label>
        </div>

        <button type="submit" id="inscription-btn" (click)="sendUser()" [disabled]="!inscriptionForm.valid"
            [ngClass]="inscriptionForm.valid ? 'valid' : 'invalid' ">Inscription</button>
    </form>
    <p>Déja inscrit? Connecte-toi en cliquant <span (click)="switch()">ici</span></p>
    <!-- NEEDFIX : Precision -->
</section>