<section id="inscription-form-body">
    <form>
        <h2> Inscription </h2>
        <label> Prénom et Nom </label> 
        
        <div id="name-inscription-container">
        <input type="text" id="firstname-inscription" name="firstname-inscription" placeholder="Ninja">
        <input type="text" id="surname-inscription" name="surname-inscription" placeholder="Youston">
    </div>

        <label> Email </label>
        <input type="email" id="email-inscription" name="email-inscription" placeholder="NineClub@example.com">

        <label> Mot de passe </label>
        <input type="password" id="inscription-password" name="inscription-password" placeholder="password">

        <div class="conditions-container">
            <input type="checkbox" id="cgu-checkbox" name="cgu-checkbox">
            <label for="cgu-checkbox" class="conditions" id="cgu-checkbox-label"> J'accepte les conditions d'utilisations</label>
        </div>
        
        <button type="submit" id="inscription-btn">Inscription</button>
    </form>
    <p>Déja inscrit? Connecte-toi en cliquant <span (click)="switch()">ici</span></p>
</section>
