<section id="myprofil-body">
  <div class="container" id="firstname-container">
    <p>Prénom</p>
    <p> Teddy </p>
  </div>

  <div class="container" id="surname-container">
    <p>Nom de famille</p>
    <p> Bear </p>
  </div>

  <div class="container" id="age-container">
    <p>Âge</p>
    <p> 19 ans </p>
  </div>

  <div class="container" id="nationality-container">
    <p> Nationnalité </p>
    <p> France </p>
  </div>

  <div class="container" id="bio-container">
    <p> Description </p>
    <p> Je suis un skateur de Narbonne et je fais de la rampe </p>
  </div>
</section>
