<app-edit-user *ngIf="userEditModal()"></app-edit-user>

<section id="myprofil-body">
  <div id="container">
  <div class="container" id="firstname-container">
    <p>Prénom</p>
    <p> {{currentUser.firstname}} </p>
  </div>

  <div class="container" id="surname-container">
    <p>Nom de famille</p>
    <p> {{currentUser.surname}} </p>
  </div>

  <div class="container" id="nickname-container">
    <p>Surnom</p>
    <p> {{currentUser.nickname}} </p>
  </div>

  <div class="container" id="age-container">
    <p>Âge</p>
    <p> {{currentUser.age}} ans </p>
  </div>

  <div class="container" id="nationality-container">
    <p> Nationnalité </p>
    <p> {{currentUser.nationality}} </p>
  </div>

  <div class="container" id="bio-container">
    <p> Description </p>
    <p> {{currentUser.bio}} </p>
  </div>
  </div>

  <button (click)="openEditModal()"> Modifier </button>
</section>
