#myprofil-body{
  height: 93vh;
  background-image:url(../../../../assets/data/img/skate_wp_3.jpg);
  color: white;
  padding: 5vh;
}

.container{
  width: 38vw;
  display: inline-block;
  margin-bottom: 4vh;
  cursor: pointer;
  padding: 1vh;
}

#bio-container{
  width: 80vw;
}

.container:hover{
  background-color: rgba(54, 54, 54, 0.63);
  border-radius: 0.5vh;
}

app-edit-user{
  position: fixed;
  top:0;
  left:0;
}
