<section id="userlist-body">
  <ul>
    <li (click)="switchSettingsTabs('myprofil')" [routerLink]="['../settings']">Mon compte</li>
    <li [routerLink]="['../informations']">Informations légales</li>
    <li [routerLink]="['../smartphone-app']">Applications Mobiles</li>
    <li (click)="switchSettingsTabs('myprofil')" [routerLink]="['../settings']">Paramètres</li>
    <li (click)="switchSettingsTabs('premium')" [routerLink]="['../settings']">Passer premium</li>
    <li class="red" (click)="disconnect()">Déconnexion</li>
  </ul>
</section>
