<section id="connection-form-body">
    <form [formGroup]="connectionForm">
        <h2> Connexion </h2>
        <input type="email" id="email-connection" name="email-connection" placeholder="example@example.com"
            formControlName="email">
        <div class="errors-messages-container">
            <p *ngIf='connectionForm.controls.email.invalid && submitted'> Veuillez saisir votre email de connexion </p>
        </div>
        <input type="password" id="connection-password" name="connection-password" placeholder="password"
            formControlName="password">
        <button type="submit" id="connection-btn" (click)="sendUser()"
            [disabled]="connectionForm.pristine">Connexion</button>
    </form>

    <p *ngIf="error" class="notif-error"> L'email et/ou le mot de passe entrés semblent être incorrects </p>
    <p>Pas encore inscrit? Inscris-toi en cliquant <span (click)="switch()">ici</span></p>

</section>
