#local-body{
    width: 100vw;
    height: 40vh;
    padding: 5vh 0;
    color: white;
}

h2{
    margin-left: 2.5vw;
    font-size: 2.7vw;
    margin-bottom: 5vh;
}

.video-container{
    width: 100vw;
    height: 20vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 2vh;
}

.local-video{
    min-width: 17vw;
    height: 15vh;
    background-color: rgb(31, 31, 31);
    border:rgb(14, 14, 14) solid 5px;
    border-radius: 4px;
    padding: 3px;
    margin: 0 20px;
    color: white;
    display: inline-block;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

//   /* Track */
//   ::-webkit-scrollbar-track {
//   }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(34, 34, 34, 0.726);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(34, 34, 34, 0.658);
  }
